.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  :root{
    --accent-color: #03A9F4;
    --menu-color: #7D7D7D;
    --blogs-color: #626262;
    --title-color: #B4AD9E;
  }

  .body{
    font-family: 'Playfair Display', serif;
    /* font-family: 'Ubuntu', sans-serif; */
  }

  .header-menu-link:hover,
  .header-menu-link:focus{
    color: var(--accent-color);
  }

  .header-menu-link{
    color: var(--menu-color);
    font-style: normal;
  }

  li{
    list-style: none;
  }

  .blogs-link {
    color: var(--title-color);
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;

    display: block;
    margin-top: 62px;

  }

  .blogs-link:hover,
  .blogs-link:focus{
    color: var(--accent-color);
  }

  .blogs-title {
    color: var(--blogs-color);
    font-size: 30px;
    font-style: normal;

    margin-top: 32px;

  }

  .blogs-text {
    color: var(--blogs-color);
    font-style: normal;

    margin-top: 48px;
  }

  .button {
    color: var(--blogs-color);
    font-family: Playfair Display;
    font-style: normal;
    background-color: rgb(255, 255, 255);
    cursor: pointer;

    margin-top: 90px;

    padding: 20px 41px 21px 49px;

    border-radius: 2px;
  }

  .button:hover,
  .button:focus{
    color: var(--accent-color);
  }

  a {
    text-decoration: aliceblue;
}









h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
}


.container{
  width:972px;
  padding-left: 33px;
  padding-right: 33px;
  margin-left: auto;
  margin-right: auto;
}




.header-list-nav {
   display: flex;
}




.header-menu-nav:not(:first-child) {
  margin-left: 99px;
}




.header {
  padding-top: 71px;
  /* padding-bottom: 92px; */
}




.blogs {
  padding-top: 92px;
  padding-bottom: 66px;
}




